<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find my Career</title>
</head>
<body>
    <div class="container">
        <form action="">
            <p>Do you like to interior decor?</p>
            <input id="q1y" type="radio" name="q1" value="">
            <label for="q1y">Yes</label>
            <br>
            <input id="q1n" type="radio" name="q1" value="">
            <label for="q1n">No</label>
            <br>

            <p>Do you like to like puzzles?</p>
            <input id="q2y" type="radio" name="q2" value="">
            <label for="q2y">Yes</label>
            <br>
            <input id="q2n" type="radio" name="q2" value="">
            <label for="q2n">No</label>
            <br>

            <p>Do you like to like drawing?</p>
            <input id="q3y" type="radio" name="q3" value="">
            <label for="q3y">Yes</label>
            <br>
            <input id="q3y" type="radio" name="q3" value="">
            <label for="q3n">No</label>
            <br>


            <p>Do you like to like Math?</p>
            <input id="q4y" type="radio" name="q4" value="">
            <label for="q4y">Yes</label>
            <br>
            <input id="q4n" type="radio" name="q4" value="">
            <label for="q1n">No</label>
            <br>

            <p>Do you like to like Creative Arts?</p>
            <input id="q5y" type="radio" name="q5" value="">
            <label for="q1y">Yes</label>
            <br>
            <input id="q5n" type="radio" name="q5" value="">
            <label for="q1n">No</label>
            <br>

            <button>Submit</button>

        </form>
    </div>
    
    
</body>
</html>